<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WP News Reader</title>
</head>
{% block app_content %}
<body>
<h3>wp.pl - najnowsze newsy:</h3>
    <li>Główne
        <ul>
            {% for tit, link in links[0].items() %}
                <li>
                    <a href="{{link}}">{{ tit }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>Wysokie
        <ul>
            {% for tit, link in links[1].items() %}
                <li>
                        <a href="{{ url_for('art', link=link) }}">{{ tit }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>Niskie
        <ul>
            {% for tit, link in links[2].items() %}
                <li>
                    <a href="{{link}}">{{ tit }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
</body>
{% endblock %}
</html>